<!--
<md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="profile-image"></div>
      <md-card-title><strong>News/Messages</strong></md-card-title>
      <md-card-subtitle>&nbsp;</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-footer class="card-footer">
      Last updated xx/xx/xxxx
    </md-card-footer>
  </md-card>
-->
