<div class="container-fluid nopadding" style="margin-top: 10px">
    <div class="row-fluid bottom-buffer">
      <div class="col-lg-8">
          <app-projects-pick-em-news-card></app-projects-pick-em-news-card>
      </div>
      <div class="col-lg-4 aside">
          <app-projects-pick-em-profile-card></app-projects-pick-em-profile-card>
        <app-projects-pick-em-stats-card></app-projects-pick-em-stats-card>
        <app-projects-pick-em-division-card division="West"></app-projects-pick-em-division-card>
      </div>
    </div>
    <!-- <div class="row-fluid">
      <div class="col-lg-12">
        <app-projects-pick-em-news-card></app-projects-pick-em-news-card>
      </div>
    </div> -->
  </div>
