<div class="row underline">
  <div class="col-sm-6 division-table-column-header remove-padding">Player</div>
  <div class="col-sm-2 division-table-column-header remove-padding center-text">Wins</div>
  <div class="col-sm-2 division-table-column-header remove-padding center-text">Losses</div>
  <div class="col-sm-2 division-table-column-header remove-padding center-text">%</div>
</div>
<div class="row division-table-teams remove-padding" *ngFor="let standing of standings">
  <div class="col-sm-6 remove-padding">{{standing.Name}}</div>
  <div class="col-sm-2 remove-padding center-text">{{standing.Wins}}</div>
  <div class="col-sm-2 remove-padding center-text">{{standing.Losses}}</div>
  <div class="col-sm-2 remove-padding center-text">{{standing.WinPct}}</div>
</div>
