<div class="row underline">
  <div class="tableHeader col-md-3 remove-padding">Player</div>
  <div class="tableHeader col-md-3 remove-padding center-text">Wins</div>
  <div class="tableHeader col-md-3 remove-padding center-text">Losses</div>
  <div class="tableHeader col-md-3 remove-padding center-text">Win %</div>
</div>
<div class="row remove-padding">
  <div class="col-md-3 remove-padding">Player 1</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0.00%</div>
</div>
<div class="row remove-padding">
  <div class="col-md-3 remove-padding">Player 2</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0.00%</div>
</div>
<div class="row remove-padding">
  <div class="col-md-3 remove-padding">Player 3</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0.00%</div>
</div>
<div class="row remove-padding">
  <div class="col-md-3 remove-padding">Player 4</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0.00%</div>
</div>
<div class="row remove-padding">
  <div class="col-md-3 remove-padding">Player 5</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0</div>
  <div class="col-md-3 remove-padding center-text">0.00%</div>
</div>
