<footer class="footer">
  <div class="container text-center">
    <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">
      3rd Wave Media</a> for developers</small>
    <br>
    <small>Adopted using the <a href="https://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/" style="color:green">Developer</a>
      design from <a href="http://themes.3rdwavemedia.com" target="_blank">
        3rd Wave Media</a></small>
  </div><!--//container-->
</footer><!--//footer-->
