<div class="card">
  <div class="card-body">
    <app-card-header title="Player 1's Profile"></app-card-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 row-header remove-padding">Name</div>
        <div class="col-lg-7">Player 1</div>
      </div>
      <div class="row">
        <div class="col-lg-5 row-header remove-padding">Wins / Losses</div>
        <div class="col-lg-7">0 / 0</div>
      </div>
      <div class="row">
        <div class="col-lg-5 row-header remove-padding">Wins %</div>
        <div class="col-lg-7">0.00%</div>
      </div>
      <div class="row">
          <div class="col-lg-5 row-header remove-padding">Favorite Team</div>
          <div class="col-lg-7">Oakland Raiders</div>
        </div>
    </div>
  </div>
</div>
