<section class="experience section">
    <div class="section-inner">
        <h2 class="heading">Work Experience</h2>
        <div class="content">

            <div class="item">
              <h3 class="title">Lead UI Developer - 
                <span class="place"><a href="#">Raymond James</a></span> 
                <span class="year">(July 2017 - Present)</span>
              </h3>
              <p>I am the team lead of 5 developers.  I am responsible for triaging bugs and user requests.  I am also responsible for leading the 
                  daily standups, if needed.  As a part of a 5-developer team I am responsible for the maintenance and development of an internal 
                  tool designed for financial advisors.  The tool was developed using Angular 1.5, Gulp and NodeJS.  The project is currently 
                  being upgraded to Angular 4.x using the Angular CLI, TypeScript and webpack.<br/><br/>
                  <strong>Technologies:</strong> AngularJs 1.5, Angular, Gulp, NodeJs, Bootstrap, Bower, Karma, Jasmine
              </p>
            </div><!--//item-->

            <div class="item">
              <h3 class="title">Sr .NET Developer/Sr. UI Developer - 
                <span class="place"><a href="#">Kobie Marketing</a></span> 
                <span class="year">(August 2016 - July 2017)</span>
              </h3>
              <p>I assisted in finishing the TJX Rewards portal.  I improved the AngularJs codebase by introducing
                    best practices including file naming, folder layout schema, converting directive to components and loading/binding optimizations.  I added functionality 
                    to the existing Gulp functionality to perform faster using better minification and naming techniques.  I added UI Unit Testing using Karma and 
                    Jasmine to validate our AngularJs code.  I also implemented Ninject on the Web Api layer to prepare the codebase for continuous integration 
                    and better expandability.
                    <br/><br/>
                    I began to upgrade the existing Angular 1.x application to Angular 2 using the Angular-Cli as a starting platform.  This version sits in parallel 
                    with the existing application and is developed using TypeScript 2.X.
                    <br/><br/>
                    <strong>Technologies:</strong> C#, AngularJs 1.5, Angular, Web Api 2, Gulp, NodeJs, Bootstrap, Bower, Karma, Jasmine and Ninject
                </p>
            </div><!--//item-->

            <div class="item">
                <h3 class="title">.NET Developer - 
                    <span class="place"><a href="#">BHI (Blue Health Intelligence)g</a></span> 
                    <span class="year">(August 2014 - July 2016)</span>
                  </h3>
              <p>I was a part of a 2-person development team.  I was responsible for re-architecturing an existing application, Xchange Advisor, that was built 
                using ASP.NET, C# and Web forms to a Microsoft free solution using AngularJs, NodeJs, Bower and Bootstrap.  I developed an intranet website 
                that helped track the releases and report promotion of Xchange Advisor.
                <br/><br/>
                I achieved IBM® Certified Designer - Cognos 10 BI Reports certification and assisted in Cognos research of non-basic logic issues.
                <br/><br/>  
                I was a member of the corporate IT Board review team.  This team was responsible for best practices and code review.
                <br/><br/>  
                <strong>Technologies:</strong> C#, Angular 1.5, NodeJs, Bower, Bootstrap, Gulp, EF 5/6, CORS and Cognos
              </p>
            </div><!--//item-->

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->
