<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Certifications</h2>
        <div class="content">
            <div class="item">
                <h3 class="title">Microsoft® Certified Technology Specialist (MCTS)</h3>
            </div><!--//item-->
            <div class="item">
                <h3 class="title">Microsoft® Certified Professional Developer (MCPD)</h3>
            </div><!--//item-->
            <div class="item">
                <h3 class="title">Microsoft Certified Solution Developer</h3>
            </div><!--//item-->
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->
