<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">My Projects</h2>
        <div class="content">

            <!-- <div class="item featured text-center">
                <h3 class="title"><a href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">KickStarter - Potato Salad App</a></h3>
                <p class="summary">A mobile app to help you make delicious potato salad</p>
                <div class="featured-image">
                    <a href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">
                    <img class="img-responsive project-image" src="/assets/images/projects/project-featured.png" alt="project name" />
                    </a>
                    <div class="ribbon">
                        <div class="text">App</div>
                        </div>
                    </div>

                <div class="desc text-left">
                    <p>You can promote your main project here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                </div>
                <a class="btn btn-cta-secondary" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>
            </div> -->

            <hr class="divider" />

            <div class="item row">
              <!-- <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
                  target="_blank">
                <img class="img-responsive project-image" src="/assets/images/projects/project-4.png" alt="project name" />
              </a> -->
              <div class="desc col-md-12 col-sm-12 col-xs-12">
                  <h3 class="title">
                      <a routerLink="/projects/resume">My Resume</a>
                  </h3>
                  <p>
                      The <strong>My Resume</strong> project was written to play around with routing, children routing in particular.
                      <br/><br/>
                      My goal was to have a sub menu that allowed the user to navigate to parts of my resume. Of course this could have been done using pipes but I
                      have another idea for that (see A Funko collection tracker).
                    </p>
                  <p>
                    <a routerLink="/projects/resume">
                      <i class="fa fa-external-link"></i> Find out more
                    </a>
                  </p>
              </div><!--//desc-->
            </div><!--//item-->

            <div class="item row">
              <!-- <a class="col-md-4 col-sm-4 col-xs-12" href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm" target="_blank">
              <img class="img-responsive project-image" src="/assets/images/projects/project-1.png" alt="project name" />
              </a> -->
            <div class="desc col-md-12 col-sm-12 col-xs-12">
                <h3 class="title">
                    <a routerLink="/projects/funkoCollection">My Funko&#174; Collection Tracker</a>
                </h3>
                <p>
                    The <strong>Funko Collection Tracker</strong> is being written to play around with pipes and sorting.
                    <br/><br/>
                    My goal is two-fold. One, obviously, is to get familar with pipes in Angular. The second is so
                    I have a way of looking up my vast Funko collection when I'm not at home.
                </p>
                <p>
                  <a class="more-link" routerLink="/projects/funkoCollection">
                    <i class="fa fa-external-link"></i> Find out more
                  </a>
                </p>
              </div><!--//desc-->
            </div><!--//item-->

            <div class="item row">
                <!-- <a class="col-md-4 col-sm-4 col-xs-12" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">
                <img class="img-responsive project-image" src="/assets/images/projects/project-2.png" alt="project name" />
                </a> -->
              <div class="desc col-md-12 col-sm-12 col-xs-12">
                  <h3 class="title">
                      <a routerLink="/projects/pickem">Football You-Pick-Em</a>
                  </h3>
                  <p>
                      The <strong>Football You-Pick-Em</strong> will be a conversion of an web application that was originally developed in ASP 3.0. Over the years I've used this project to play around
                      with new technologies. This project has existed in ASP.NET, MVC and will eventually be in Angular.
                  </p>
                  <p>
                    <a class="more-link" routerLink="/projects/pickem"><i class="fa fa-external-link"></i> Find out more</a>
                  </p>
              </div><!--//desc-->
            </div><!--//item-->

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->
