<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Tampa, US</li>
                <!-- <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">jameslee@website.com</a></li> -->
                <!-- <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://www.quickwareconsulting.net" target="_blank">Quickware Consulting</a></li> -->
                <li><i class="fa fa-link"></i><span class="sr-only">Blog:</span><a href="http://quickwareconsulting.blogspot.com/" target="_blank">Quickware Consulting Blog</a></li>
            </ul>
        </div><!--//content-->
    </div><!--//section-inner-->
  </aside><!--//aside-->
