<div class="row col-md-12 division-name" *ngIf="showDivisionName">
  {{name}}
</div>
<div class="row underline">
  <div class="col-sm-6 division-table-column-header remove-padding">Name</div>
  <div class="col-sm-2 division-table-column-header remove-padding center-text">Wins</div>
  <div class="col-sm-2 division-table-column-header remove-padding center-text">Losses</div>
  <div class="col-sm-2 division-table-column-header remove-padding center-text">Ties</div>
</div>
<div class="row division-table-teams remove-padding" *ngFor="let team of teams">
  <div class="col-sm-6 remove-padding">
      <button class="btn btn-link remove-padding" role="link" (click)="staticModal.show()">
          {{team.City}} {{team.Name}}
      </button>
  </div>
  <div class="col-sm-2 remove-padding center-text">{{team.NumberOfWins}}</div>
  <div class="col-sm-2 remove-padding center-text">{{team.NumberOfLosses}}</div>
  <div class="col-sm-2 remove-padding center-text">{{team.NumberOfTies}}</div>
</div>

  <!-- <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> to close modal.
      </div>
    </div>
  </div>
</div> -->
