<aside class="skills aside section">
    <div class="section-inner">
        <h2 class="heading">Skills</h2>
        <div class="content">
            <p class="intro">
                20 years professional experience.  Extensive background in full stack and database development.  
                UI Development focus over the past 4 years.
            </p>
            <div class="skillset">

              <div class="item">
                <h3 class="level-title">AngularJs/Angular<span class="level-label" data-toggle="tooltip" data-placement="left"
                  data-animation="true" title="2.75 years">Above Average</span></h3>
                <!-- <div class="level-bar">
                    <div class="level-bar-inner" data-level="50%">
                    </div>
                </div> -->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Javascript &amp; jQuery<span class="level-label" data-toggle="tooltip" data-placement="left"
                    data-animation="true" title="20 years">Pro</span></h3>
                  <!-- <div class="level-bar">
                      <div class="level-bar-inner" data-level="96%">
                      </div>
                  </div> -->
              </div><!--//item-->

              <div class="item">
                <h3 class="level-title">TypeScript<span class="level-label" data-toggle="tooltip" data-placement="left"
                  data-animation="true" title="7 months">Average</span></h3>
                <!-- <div class="level-bar">
                    <div class="level-bar-inner" data-level="50%">
                    </div>
                </div> -->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">SQL Server<span class="level-label" data-toggle="tooltip" data-placement="left"
                    data-animation="true" title="18 years">Above Average</span></h3>
                  <!-- <div class="level-bar">
                      <div class="level-bar-inner" data-level="96%">
                      </div>
                  </div> -->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">C#<span class="level-label" data-toggle="tooltip" data-placement="left"
                    data-animation="true" title="8.75 years">Pro</span></h3>
                  <!-- <div class="level-bar">
                      <div class="level-bar-inner" data-level="85%">
                      </div>
                  </div> -->
              </div><!--//item-->

              <p><a class="more-link" href="http://www.linkedin.com/in/michael-quick-97b63711" target="_blank"><i class="fa fa-external-link"></i> More on LinkedIn</a></p>
            </div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->
