<header class="header">
  <div class="container">
    <img class="profile-image img-responsive pull-left" src="/assets/images/profile.jpg" alt="Michael Quick" />
    <div class="profile-content align-top pull-left">
        <h1 class="name">Michael Quick</h1>
        <h2 class="desc">UI/Web App Developer</h2>
    </div>
    <div class="profile-content pull-right">
        <ul class="social list-inline">
            <li><a href="https://twitter.com/Mazonine" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="//plus.google.com/u/0/115286270466430151774?prsrc=3" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="http://www.linkedin.com/pub/michael-quick/11/637/97b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="last-item"><a href="https://github.com/Mazonine/" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        </ul>
    </div>
  </div><!--//container-->
</header><!--//header-->
