.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-body {
  margin-top: .2in;
  margin-left: .2in;
  margin-bottom: .2in;
  margin-right: .2in;
}

.card-footer {
  padding-left: 25px;
}
