<app-header></app-header>

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <app-about></app-about>

            <app-projects></app-projects>

            <app-experience></app-experience>

            <!-- <app-github></app-github> -->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <app-information></app-information>

            <app-skills></app-skills>

            <app-certifications></app-certifications>

            <app-education></app-education>

            <app-blog></app-blog>

            <!-- <app-music></app-music> -->

            <app-credit></app-credit>

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->
